body {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  background-color: wheat;
}

#container {
  width: 600px;
  margin: 0px auto;
}

#header {
  text-align: center;
}

#header a {
  color: black;
  text-decoration: none;
}

#post_form {
  padding: 10px;
  border: solid 1px gray;
  background-color: ivory;
}

#post_form table td.col1 {
  width: 100px;
}

.message {
  margin-top: 10px;
  padding: 10px;
  border: solid 1px gray;
  background-color: ivory;
}

.message_footer {
  font-size: 0.8em;
  text-align: right;
}

.message_footer span a {
  padding: 0.2em;
  border: solid 1px gray;
  text-decoration: none;
}

.comment {
  margin-top: 10px;
  margin-left: 100px;
  padding: 5px;
  border-top: dashed 1px gray;
}

.comment_footer {
  font-size: 0.8em;
  text-align: right;
}

#footer {
  padding-top: 20px;
  height: 50px;
  text-align: center;
}
